# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root
Icon
.disk

# Xcode
*.xcuserdata
*.xccheckout
*.moved-aside
DerivedData/
build/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/
